<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 必须和mapper interface一致，否则会绑定失败 -->
<mapper namespace="com.balintimes.oa.admin.persistence.mybatis.mappers.AreaMapper">
	<resultMap type="area" id="AreaResult">
		<id property="id" column="id" />
		<result property="parent_id" column="parent_id" />
		<result property="parent_ids" column="parent_ids" />
		<result property="code" column="code" />
		<result property="name" column="name" />
		<result property="type" column="type" />
		<result property="create_by" column="create_by" />
		<result property="create_date" column="create_date" />
		<result property="update_by" column="update_by" />
		<result property="update_date" column="update_date" />
		<result property="remarks" column="remarks" />
	</resultMap>


	<!-- 查找所有區域 -->
	<select id="findAllAreas" statementType="PREPARED" resultMap="AreaResult">
		SELECT
		ID, PARENT_ID,
		PARENT_IDS, CODE, NAME, TYPE, CREATE_BY,
		CREATE_DATE, UPDATE_BY,
		UPDATE_DATE, REMARKS
		FROM oasys_area
		WHERE
		del_flag="0"
		ORDER BY code, parent_ids
	</select>

	<!-- 根据父级查找下级 -->
	<select id="findByParentIdsLike" parameterType="string"
		statementType="PREPARED" resultMap="AreaResult">
		SELECT
		ID, PARENT_ID,
		PARENT_IDS,
		CODE, NAME, TYPE, CREATE_BY,
		CREATE_DATE, UPDATE_BY,
		UPDATE_DATE,
		REMARKS
		FROM oasys_area
		WHERE
		del_flag="0"
		AND PARENT_IDS LIKE
		"%"#{parentIds}"%"
	</select>


	<!-- 根据ID查找區域 -->
	<select id="get" parameterType="int" statementType="PREPARED"
		resultMap="AreaResult">
		SELECT
		ID,
		PARENT_ID, PARENT_IDS, CODE, NAME, TYPE, CREATE_BY,
		CREATE_DATE,
		UPDATE_BY, UPDATE_DATE, REMARKS
		FROM oasys_area
		WHERE
		id=#{id} and del_flag="0"
	</select>

	<!-- 新增区域 -->
	<insert id="insert" parameterType="area" statementType="PREPARED"
		keyProperty="id" keyColumn="id" useGeneratedKeys="true">
		INSERT INTO
		oasys_area(PARENT_ID,
		PARENT_IDS, CODE, NAME, TYPE,
		CREATE_BY,
		CREATE_DATE,
		UPDATE_BY,
		UPDATE_DATE, REMARKS, DEL_FLAG)
		VALUES(#{parent_id},#{parent_ids},#{code},#{name},#{type},#{create_by},#{create_date},#{update_by},#{update_date},#{remarks},0)
	</insert>

	<!-- 更新区域 -->
	<insert id="update" parameterType="area" statementType="PREPARED"
		keyProperty="id" keyColumn="id">
		UPDATE oasys_area SET
		PARENT_ID = #{parent_id},
		PARENT_IDS = #{parent_ids},
		CODE = #{code},
		NAME = #{name},
		TYPE = #{type},
		UPDATE_BY = #{update_by},
		UPDATE_DATE = #{update_date},
		REMARKS = #{remarks},
		DEL_FLAG = #{del_flag}
		WHERE ID = #{id}
	</insert>

	<!-- 删除区域 -->
	<delete id="delete" parameterType="int">
		delete from oasys_area 
		where id=#{id}
		  or parent_ids like CONCAT(CONCAT('%', #{id}), '%')
	</delete>
</mapper>