<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 必须和mapper interface一致，否则会绑定失败 -->
<mapper namespace="com.balintimes.oa.admin.persistence.mybatis.mappers.UserMapper">
	<resultMap type="user" id="UserResult">
		<id property="id" column="id" />
		<result property="username" column="username" />
		<result property="user_type" column="user_type" />
		<result property="active" column="active" />
		<result property="remarks" column="remarks" />
		<result property="login_ip" column="login_ip" />
		<result property="login_date" column="login_date" />
		<result property="create_by" column="create_by" />
		<result property="create_date" column="create_date" />
		<result property="update_by" column="update_by" />
		<result property="update_date" column="update_date" />
		<result property="del_flag" column="del_flag" />
	</resultMap>

	<select id="findAllUsers" resultMap="UserResult">
		SELECT
		ID, USERNAME, USER_TYPE, ACTIVE, REMARKS, LOGIN_IP, LOGIN_DATE, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE, DEL_FLAG 
		FROM oasys_user
	</select>

	<select id="findUserById" parameterType="int" resultType="user">
		SELECT
		ID, USERNAME, USER_TYPE, ACTIVE, REMARKS, LOGIN_IP, LOGIN_DATE, CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE, DEL_FLAG
		FROM oasys_user WHERE ID=#{Id}
	</select>

	<insert id="insertUser" parameterType="user" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO oasys_user(username,PASSWORD,EMAIL,ACTIVE)
		VALUES(#{username},#{password},#{email},#{active})
	</insert>
</mapper>